# Secret key provided by Django
SECRET_KEY = 'Your Django App key'

# Database template provided by Django, change it accordingly
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}