{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>1chan</title>
        <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
        <script type="text/javascript">
        function reply(thread_id) {
            var x = document.getElementById('reply-form')
            x.elements["thread_id"].value = thread_id
            if ( x.style.display === 'none') {
                x.style.display = 'block'
            } else {
                x.style.display = 'none'
            }
        }
        </script>
    </head>
    
    <body>
        <div class="container">
            <h1>1chan</h1>
            <h3> Anonymous Textboard forum</h3>
        </div>
        <div>
            <h2>{{ board.board_name }}</h2>
        </div>
        <div class="form-group">
            <form action="." method="post">
                {% csrf_token %}
                {{ thread_form }}
                <input name="new_thread" type="submit" value="Submit"/>
            </form>
        </div>
        <div>
            <ul class="unstyled">
                <li >
                    {% for thread in board.threads %}
                        <div>
                            <div>
                                <h4>{{thread}} by {{thread.author}}</h4>
                                <button type="button" onclick="reply({{thread.id}})">Reply</button>
                                <p>{{thread.thread_post}}</p>
                            </div>
                            <div>
                                <ul>
                                    {% for reply in thread.replies %}
                                    <li>{{ reply.reply }} by {{reply.author}}</li>
                                    {% endfor %}
                                </ul>
                            </div>   
                            <div>
                                <form id="reply-form" style="display: none;" action="." method="post">
                                    {% csrf_token %}
                                    {{ reply_form }}
                                    <input name="thread_id" type="hidden">
                                    <input name="new_reply" type="submit" value="submit"/>
                                </form>
                            </div>   
                        </div>   
                    {% endfor %}
                </li>
            </ul>
        </div>
        
    
    </body>
</html>