{% load bootstrap3 %}
{% load widget_tweaks %}



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>1chan</title>
        <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    
    <body>
        <div class="text-center">
            <h1>1chan</h1>
        </div>
        <div>
            <h2>{{ board.board_name }}</h2>
        
        </div>
        <div class="container center-block">
            <h4 class="text-center">Create a new thread</h4>
            <form class="form-horizontal" action="." method="post">
                <div class="form-group">
                        {% csrf_token %}
                        <label for="{{ thread_form.author.id_for_label }}">Author</label>
                        {{ thread_form.author|add_class:"form-control" }}
                        <label for="{{ thread_form.thread_title.id_for_label }}">Title</label>
                        {{ thread_form.thread_title|add_class:"form-control" }}
                        <label for="{{ thread_form.thread_post.id_for_label }}">Post</label>
                        {{ thread_form.thread_post|add_class:"form-control" }}
                        <input name="new_thread" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <div>
            <ul class="list-group list-unstyled">
                {% for thread in threads %}
                <li class="list-group-item">
                        <div>
                            <div class="text-center">
                                <h4>{{thread}} by {{thread.author}}</h4>
                                <p>{{thread.thread_post}}</p>
                            </div>
                            <div>
                                <ul class="list-group center-text">
                                    {% for reply in thread.replies reversed %}
                                    <li class="list-group-item">{{ reply.reply }} by {{reply.author}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="container text-center">
                                <form class="form-horizontal" id="reply-form" action="." method="post">
                                    <div class="form-group">
                                            {% csrf_token %}
                                            <label for="{{ reply_form.author.id_for_label }}">Author</label>
                                            {{ reply_form.author|add_class:"form-control"}}
                                            <label for="{{reply_form.reply.id_for_label}}">Reply</label>
                                            {{ reply_form.reply|add_class:"form-control"}}
                                            <input name="thread_id" value="{{thread.id}}" type="hidden">
                                            <input class="btn btn-default" name="new_reply" type="submit" value="submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>   
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container text-center">
            <div class="pagination">
                <span class="step-links">
                    {% if threads.has_previous %}
                        <a href="?page={{ threads.previous_page_number}}">previous</a>
                    {% endif %}
                    
                    <span class="current">
                        Page {{threads.number }} of {{ threads.paginator.num_pages }}.
                    </span>
                    
                    {% if threads.has_next %}
                        <a href="?page={{ threads.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    
    </body>
</html>