{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>1chan</title>
    </head>
    
    <body>
        <h1>1chan</h1>
        <h3> Anonymous Textboard forum</h3>
        <div>
            <h2>{{ board.id }}</h2>
        </div>
        <div>
        <ul>
        <li>
            {% for thread in board.threads %}
                <h4>{{thread}} by {{thread.author}}</h4>
                <p>{{thread.thread_post}}</p>
                <ul>
                    {% for reply in thread.replies %}
                    <li>{{ reply.reply }} by {{reply.author}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </li>
        </ul>
        
        </div>
        
        
    </body>
</html>